@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
  --danger-color:red; 
}

body{
  background: aliceblue;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}

.container{
  position: relative;
  min-height: 100vh;
}

h1,h3,h4{
  margin: 0;
}

.nav{
   background:#181818;
   height:7vh;
   padding:1rem;
   position: sticky;
   top: 0;
   z-index: 1;
   box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
   0 2px 2px rgba(0,0,0,0.12), 
   0 4px 4px rgba(0,0,0,0.12), 
   0 8px 8px rgba(0,0,0,0.12),
   0 16px 16px rgba(0,0,0,0.12);
}

.nav ul{
  display: flex;
  align-items:center;
  height:100%;
  margin:0;
  padding:0;
}

.nav li{
  list-style: none;
  color: #dab600;
  display: flex;
  flex-direction:column;
  justify-content:center;
  margin-left: 1rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  cursor: pointer;
  align-items: center;
}

.badge{
  position: absolute;
  top: -0.7rem;
}

.icon-name{
  font-size:0.6rem;
  margin-top: 0.2rem;
}

.routeBtn{
  border:none;
  background:transparent;
}

.products{
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap:0 20px;
  padding:1rem 0;
  justify-content: center;
  min-height: 39.5vh;
}

fieldset label{
  margin:0.2rem 0.5rem;
}

fieldset input {
  cursor: pointer;
}

@media(max-width:600px){
  fieldset{
    display:flex;
    flex-direction:column;
  }
}

@media(max-width:426px){
  .products{
   grid-template-columns:repeat(auto-fill,190px);
   grid-gap: 10px;
  }
}

@media(max-width:320px){
  .products{
   grid-template-columns:repeat(auto-fill,155px);
   grid-gap: 10px;
  }
}

@media only screen and (max-width: 360px) and (min-width: 322px){
  .products{
   grid-template-columns:repeat(auto-fill,175px);
   grid-gap: 10px;
  }
}

@media only screen and (max-width: 376px) and (min-width: 361px){
  .products{
    grid-template-columns:repeat(auto-fill,182px);
    grid-gap: 10px;
   }
}

@media only screen and (max-width: 415px) and (min-width: 377px){
  .products{
   grid-template-columns:repeat(auto-fill,200px);
   grid-gap: 10px;
  }
}

.card{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction:column;
   border-radius: 5px;
   cursor: pointer;
}

.card:hover{
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
   0 2px 2px rgba(0,0,0,0.12), 
   0 4px 4px rgba(0,0,0,0.12), 
   0 8px 8px rgba(0,0,0,0.12),
   0 16px 16px rgba(0,0,0,0.12);
}

.card-content{
  flex: 1;
  padding: 0 1rem;
}

.card-content span{
  display: flex;
  flex-direction:column;
  margin:0.5rem 0;
}

.out-of-stock{
  opacity: 0.5;
}

.card-img{
  width:100%;
  height:200px;
}

.card i{
  position: absolute;
  top: 0.5rem;
  right:0.5rem;
  font-size:1.5rem;
  cursor: pointer;
}

.card i:hover{
  font-size:1.8rem;
}

.primary-btn{
  background:#dab600;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  padding:8px 16px;
  outline: #dab600;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
   0 2px 2px rgba(0,0,0,0.12), 
   0 4px 4px rgba(0,0,0,0.12), 
   0 8px 8px rgba(0,0,0,0.12),
   0 16px 16px rgba(0,0,0,0.12);
   transition: all 0.2s ease-in-out;
}

.secondary-btn{
  background:white;
  color: #dab600;
  padding:8px 16px;
  cursor: pointer;
  border: 1px solid #dab600;
  outline: #dab600;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
   0 2px 2px rgba(0,0,0,0.12), 
   0 4px 4px rgba(0,0,0,0.12), 
   0 8px 8px rgba(0,0,0,0.12),
   0 16px 16px rgba(0,0,0,0.12);
   transition: all 0.2s ease-in-out;
}

.primary-btn:hover,.secondary-btn:hover{
  opacity: 0.9;
  box-shadow: 0 -1px 1px rgba(0,0,0,0.12), 
   -2px -2px 2px rgba(0,0,0,0.12), 
   -4px -4px 4px rgba(0,0,0,0.12); 
}

.removeIcon:hover{
  animation:move 0.5s;
}

@keyframes move{
   0% {
     transform:translateX(0)
   }
  50% {
    transform:translateX(10px)
  }
  50% {
    transform:translateX(-10px)
  }
  100% {
    transform:translateX(0)
  }
}
.cart-container{
  padding:1rem;
  width:800px;
  margin: auto;
}

@media(max-width:845px){
  .cart-container{
    width:96%;
    padding:1rem 0;
  }
}

.card-horizontal{
   display:grid;
   grid-template-columns: 1fr 4fr;
   border: 1px solid grey;
   height:30vh;
   box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
   0 2px 2px rgba(0,0,0,0.12), 
   0 4px 4px rgba(0,0,0,0.12), 
   0 8px 8px rgba(0,0,0,0.12),
   0 16px 16px rgba(0,0,0,0.12);
   margin: 0.5rem 0;
}

@media(max-width:725px){
  .card-horizontal{
     grid-template-columns: 1fr 3fr;
  }
}

@media(max-width:650px){
  .card-horizontal{
     grid-template-columns: 1fr 2fr;
  }
}

@media(max-width:475px){
  .card-horizontal{
     grid-template-columns: 1fr 1fr;
     height:35vh;
  }
  
}

.card-horizontal .card-img{
   height:100%;
}

.card-horizontal .card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding:0 1rem;
}

.card-body .card-footer{
   display:flex;
   align-items: center;
}

.wishlist-container{
  padding:1rem 0;
}

.footer{
  padding:1rem 0;
  background:#181818;
  position: relative;
  bottom:0;
  width:100%;
}

.footer-header{
  color:#dab600;
  text-align:center;
  font-size:1.5rem;
}

.footer ul {
  display:flex;
  justify-content: center;
}

.footer li {
  list-style: none;
  margin: 0 0.5rem;
}

.footer img{
  height:2rem;
}

.address_container {
  width: 70%;
  padding: 1rem;
  margin:auto;
}

.address_container > h3 {
  padding: 0.5rem;
  background: #181818;
  color: #dab600;
  text-align: center;
}

.addresses_container {
  position: relative;
}

.addresses_container > input {
  position: absolute;
  top: 44%;
  left: 10px;
  cursor: pointer;
}

.addresses {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #181818;
}

.addresses > div {
  display: flex;
  align-items: center;
}

.addresses span {
  margin-right: 1rem;
}

.addresses div,
p {
  margin-left: 1rem;
}

.addresses .number {
  flex: 1;
}

.address_type {
  background: #181818;
  padding: 0.2rem;
  color: #dab600;
  width: fit-content;
  margin-left: 1rem;
  border-radius: 5px;
}

.newAddress {
  width:70%;
  margin: 1rem auto;
}

.newAddress button {
  margin-top: 1rem;
  margin-right: 1rem;
}

.editAddress{
  width: 98%;
}

.editAddress button {
  margin: 1rem 0;
  margin-right: 1rem;
}

.form-group{
   display: flex;
   align-items: center;
}

.form-group label{
   flex:1
}

.form-group div{
  width: 70%;
  margin: 0.3rem 0;
}

.form-group .form-control{
   width:100%;
   border-radius:5px;
   border: 3px solid transparent;
   box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
   0 2px 2px rgba(0,0,0,0.12), 
   0 4px 4px rgba(0,0,0,0.12), 
   0 8px 8px rgba(0,0,0,0.12),
   0 16px 16px rgba(0,0,0,0.12);
   transition: all 0.3s ease-out;
   padding:0.3rem;
   font-size: 1rem;
   font-weight:500;
}

.form-group .form-control:focus{
  border: 2px solid #dab600;
  outline: #dab600;
}

.invalid-feedback{
  color: var(--danger-color);
  margin-top: 7px;
  font-size: 0.9rem;
}

.is-invalid{
  border: 1px solid var(--danger-color);
}

.valid-feedback{
  color: var(--success-color);
  margin-top: 7px;
  font-size: 0.9rem;
}

.is-valid{
  border: 1px solid var(--success-color);
}