@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
  background: aliceblue;
  margin:0;
  font-family: 'Montserrat', sans-serif;
}


h1,h3,h4{
  margin: 0;
}

.nav{
   background:#181818;
   height:10vh;
   padding:0.5rem;
   position: sticky;
   top: 0;
   z-index: 1;
}

.nav ul{
  display: flex;
  align-items:center;
  height:100%;
  margin:0;
  padding:0;
}

.nav li{
  list-style: none;
  color: #dab600;
  display: flex;
  flex-direction:column;
  justify-content:center;
  margin: 0 1rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  cursor: pointer;
  align-items: center;
}

.badge{
  position: absolute;
  top: -0.7rem;
}

.icon-name{
  font-size:0.6rem;
  margin-top: 0.2rem;
}

.routeBtn{
  border:none;
  background:transparent;
}

.products{
  display:grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 40px;
  padding:1rem 0;
  justify-content: center;
}

@media(max-width:426px){
  .products{
   grid-template-columns:repeat(auto-fill,190px);
   grid-gap: 10px;
  }
}

@media(max-width:320px){
  .products{
   grid-template-columns:repeat(auto-fill,155px);
   grid-gap: 10px;
  }
}

@media only screen and (max-width: 360px) and (min-width: 322px){
  .products{
   grid-template-columns:repeat(auto-fill,175px);
   grid-gap: 10px;
  }
}

@media only screen and (max-width: 376px) and (min-width: 361px){
  .products{
    grid-template-columns:repeat(auto-fill,182px);
    grid-gap: 10px;
   }
}

@media only screen and (max-width: 415px) and (min-width: 377px){
  .products{
   grid-template-columns:repeat(auto-fill,200px);
   grid-gap: 10px;
  }
}

.card{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction:column;
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
   0 2px 2px rgba(0,0,0,0.12), 
   0 4px 4px rgba(0,0,0,0.12), 
   0 8px 8px rgba(0,0,0,0.12),
   0 16px 16px rgba(0,0,0,0.12);
}

.card-content{
  flex: 1;
  padding: 0 1rem;
}

.card-content span{
  display: flex;
  flex-direction:column;
  margin:0.5rem 0;
}

.out-of-stock{
  opacity: 0.5;
}

.card-img{
  width:100%;
  height:200px;
}

.card i{
  position: absolute;
  top: 0.5rem;
  right:0.5rem;
  font-size:1.5rem;
  cursor: pointer;
}

.card i:hover{
  font-size:1.8rem;
}

.primary-btn{
  background:#dab600;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  padding:8px 16px;
}

.secondary-btn{
  background:white;
  color: #dab600;
  padding:8px 16px;
  cursor: pointer;
  border: 1px solid #dab600;
}

.primary-btn:hover,.secondary-btn:hover{
  opacity: 0.5;
}

.primary-btn:focus,.secondary-btn:focus{
  outline:none;
}

.removeIcon:hover{
  animation:move 0.5s;
}

@keyframes move{
   0% {
     transform:translateX(0)
   }
  50% {
    transform:translateX(10px)
  }
  50% {
    transform:translateX(-10px)
  }
  100% {
    transform:translateX(0)
  }
}
.cart-container{
  padding:1rem;
  width:800px;
}

@media(max-width:845px){
  .cart-container{
    width:96%;
  }
}

.card-horizontal{
   display:grid;
   grid-template-columns: 1fr 4fr;
   border: 1px solid grey;
   height:30vh;
   box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
   0 2px 2px rgba(0,0,0,0.12), 
   0 4px 4px rgba(0,0,0,0.12), 
   0 8px 8px rgba(0,0,0,0.12),
   0 16px 16px rgba(0,0,0,0.12);
   margin: 0.5rem 0;
}

@media(max-width:725px){
  .card-horizontal{
     grid-template-columns: 1fr 3fr;
  }
}

@media(max-width:650px){
  .card-horizontal{
     grid-template-columns: 1fr 2fr;
  }
}

@media(max-width:475px){
  .card-horizontal{
     grid-template-columns: 1fr 1fr;
     height:35vh;
  }
  
}

.card-horizontal .card-img{
   height:100%;
}

.card-horizontal .card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding:0 1rem;
}

.card-body .card-footer{
   display:flex;
   align-items: center;
}
